/POO/Lista02/nbproject/private/
/POO/Lista02/build/
POO/Lista02/nbproject/build-impl.xml
POO/Lista02/manifest.mf
*.xml
POO/Lista02/nbproject/genfiles.properties
/POO/Lista03/nbproject/private/
/POO/Lista03/build/
/POO/Lista03/Turma8_Lista3/nbproject/private/
/POO/Lista04/nbproject/private/
/POO/Lista04/build/
/POO/Lista05/nbproject/private/
/POO/Lista05/build/
/POO/ProjetoCalculadora/nbproject/private/
/POO/ProjetoCalculadora/build/
/POO/Lista06/nbproject/private/
/POO/Lista06/build/
/POO/Exercicio/nbproject/private/
/POO/Exercicio/build/
/POO/Prova1/nbproject/private/
/POO/Prova1/build/
/POO/Lista07/nbproject/private/
/POO/Lista07/build/
/POO/Lista08/nbproject/private/
/POO/Lista08/build/
/POO/Lista09/nbproject/private/
/POO/Lista09/build/
/POO/Lista10/nbproject/private/
/POO/Lista10/build/
