/POO/Lista02/nbproject/private/
/POO/Lista02/build/
POO/Lista02/nbproject/build-impl.xml
POO/Lista02/manifest.mf
*.xml
POO/Lista02/nbproject/genfiles.properties
/POO/Lista03/nbproject/private/
/POO/Lista03/build/
/POO/Lista03/Turma8_Lista3/nbproject/private/
/POO/Lista04/nbproject/private/
/POO/Lista04/build/
/POO/Lista05/nbproject/private/
/POO/Lista05/build/
/POO/ProjetoCalculadora/nbproject/private/
/POO/ProjetoCalculadora/build/
/POO/Lista06/nbproject/private/
/POO/Lista06/build/
/POO/Exercicio/nbproject/private/
/POO/Exercicio/build/
/POO/Prova1/nbproject/private/
/POO/Prova1/build/
/POO/Lista07/nbproject/private/
/POO/Lista07/build/
/POO/Lista08/nbproject/private/
/POO/Lista08/build/
/POO/Lista09/nbproject/private/
/POO/Lista09/build/
/POO/Lista10/nbproject/private/
/POO/Lista10/build/
/POO/GestaoPagamento/nbproject/private/
/POO/GestaoPagamento/build/
/POO/Lista11/nbproject/private/
/POO/Lista11/build/
/POO/Lista12/nbproject/private/
/POO/Lista12/build/
/POO/Lista12ex2/nbproject/private/
/POO/Lista12ex2/build/
/POO/Lista08Estudos/nbproject/private/
/POO/Lista08Estudos/build/
/POO/Lista08Estudos/dist/
/POO/Prova2_Helena/nbproject/private/
/POO/Prova2_Helena/build/
/POO/Trabalho_POO_2023/nbproject/private/
/POO/Lista13/nbproject/private/
/POO/Lista13/build/
/POO/Lista13Questao2/nbproject/private/
/POO/Lista14/nbproject/private/
/POO/Lista14/build/
/POO/Prova03/nbproject/private/
/POO/Prova03/build/
/POO/Prova03Helena/nbproject/private/
/POO/Prova03Helena/build/
/POO/ProjetoFinalLuana/nbproject/private/
/POO/ProjetoFinalLuana/build/
/algoritmos_estrutura_dados/ValidadorArquivoHtml/nbproject/private/
