
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.menuPrincipal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #dd9fe6;
    padding: 10px ;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}
#divSum {
    margin: 100px auto; /* Para centralizar a div */
    width: 300px; /* Define a largura desejada */
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centraliza os itens dentro da div */
}

/* Inputs menores */
.input {
    display: block;   /* Cada input em uma nova linha */
    width: 100%;      /* Largura ajustada para preencher o container */
    margin-bottom: 10px; /* Espaçamento entre inputs */
    padding: 5px;    /* Reduz o espaçamento interno */
    font-size: 12px; /* Tamanho da fonte reduzido */
    box-sizing: border-box;
}

.button{
    margin-bottom: 10px;
    background-color: aliceblue;
}

.button:hover{
    background-color: aquamarine;
}

.menuPrincipal li  {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
}

