body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.menuPrincipal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #dd9fe6;
    padding: 10px ;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}
.menuPrincipal li  {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
}
#divExTwo{
    margin: 100px auto; /* Para centralizar a div */
    width: 300px; /* Define a largura desejada */
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centraliza os itens dentro da div */
}